[Unit]
Description=LM Studio Server
After=network.target

[Service]
ExecStart=/usr/local/bin/lms server start --cors --port 1234
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
